<!DOCTYPE html>
<html lang="en">
  <head>
   
    <% include ../partials/head %>
  </head>

  <body>

    <div class="container">
    <% include ../partials/header %>
      
    <% include ../partials/index %>  
    <% include ../partials/footer %>

     

    </div> <!-- /container -->


    
  </body>
</html>
