<!DOCTYPE html>
<html lang ='en'>
<head>
    <meta charset="UTF-8">
    <title>Page Three</title>
</head>
<body>
    <div class="header">
        <% include ../partials/header %>
    </div>
    <div class="content">
        <h1><%= tagline %></h1>

        <ul>
            <% for(var i= 1; i <=5; i++){ %>
                <li>
                    <%= i + "  Item no: " + i %> 
                </li>
            <% } %>
        </ul>
    </div>
    <div class="footer">
        <% include ../partials/footer %>
    </div>
</body>
</html>
